{% extends 't_base.html'%}
{% load static %}
{% block title %} لوحة التحكم | نظام إدارة الحلقات {% endblock %}
{% block content %}
           

        
            
        <main class="flex-1 p-6 md:p-10">
           <header class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-10 mt-14 md:mt-0">
                <div>
                    <h1 class="text-3xl md:text-4xl font-black text-white">ملف التلميذ</h1>
                    <p class="text-slate-400 mt-2">عرض السجل الكامل للتلميذ.</p>
                </div>
                <div class="flex space-x-2 space-x-reverse mt-4 sm:mt-0">
                    <a href="{% url 'student_update' student.id %}" class="bg-blue-600 text-white px-5 py-2 rounded-lg font-bold hover:bg-blue-700 transition">تعديل البيانات</a>
                    <button onclick="window.print()" class="bg-slate-700 text-slate-300 px-5 py-2 rounded-lg font-bold hover:bg-slate-600 transition">طباعة</button>
                </div>
            </header>

            
            <div class="bg-slate-800 rounded-xl border border-slate-700 p-6 md:p-8 mb-8">
                <div class="flex flex-col md:flex-row items-center">
                    <div class="ml-0 md:ml-8 mb-6 md:mb-0 text-center md:text-right">
                        <h2 class="text-3xl font-bold text-white">{{ student.name }}</h2>
                        <p class="text-blue-400 font-semibold">{{ student.halaqa }}</p>
                        {% if student.status == True%}
                        <span class="mt-2 inline-block px-3 py-1 text-sm rounded-full bg-green-800 text-green-300">نشط</span>
                        {% else %}
                        <span class="mt-2 inline-block px-3 py-1 text-sm rounded-full bg-red-800 text-red-300">متوقف</span>
                        {% endif %}

                    </div>
                    <div class="w-full grid grid-cols-2 sm:grid-cols-4 gap-4 text-center md:text-right">
                        <div>
                            <span class="text-sm text-slate-400">العمر</span>
                            <p class="font-bold text-white">{{ student.age }}سنة</p>
                        </div>
                        <div>
                            <span class="text-sm text-slate-400">الصف  </span>
                            <p class="font-bold text-white">{{ student.grade }}</p>
                        </div>
                        <div>
                            <span class="text-sm text-slate-400">نسبة الحضور</span>
                            <p class="font-bold text-white">{{attend_percantage}}%</p>
                        </div>
                        <div>
                            <span class="text-sm text-slate-400">المقرر الأساسي </span>
                            <p class="font-bold text-white">{{ student.basic_course }} </p>
                        </div>
                        <div>
                            <span class="text-sm text-slate-400">المقرر الاضافي </span>
                            {% if student.add_course %}
                            <p class="font-bold text-white">{{ student.add_course }} </p>
                            {% else %}
                            <p class="font-bold text-white">لا يوجد </p>
                            {% endif %}
                        </div>
                        {% comment %} <div>
                            <span class="text-sm text-slate-400">آخر درجة</span>
                            <p class="font-bold text-white">قريباً </p>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="bg-slate-800 rounded-xl border border-slate-700">
                    <h3 class="p-4 text-lg font-bold text-white border-b border-slate-700">سجل الحضور الأخير</h3>
                    {% for atend in attenedance_list %}
                    <ul class="divide-y divide-slate-700 p-4">
                        <li class="py-2 flex justify-between"><span>{{ atend.day }}</span>
                            {% if atend.status == True %}
                             <span class="text-green-400">حاضر</span>
                            {% else %}
                            <span class="text-red-400">غائب</span>
                            {% endif %}
                            </li>                       
                    </ul>
                    {% endfor %}
                </div>
                {% comment %} <div class="bg-slate-800 rounded-xl border border-slate-700">
                    <h3 class="p-4 text-lg font-bold text-white border-b border-slate-700">نتائج الاختبارات</h3>

                    <p class="font-bold text-white"> قريباً ان شاء الله </p>
                   <ul class="divide-y divide-slate-700 p-4">
                        <li class="py-2 flex justify-between"><span>اختبار سبتمبر</span> <span class="font-bold text-white">95 / 100</span></li>
                        <li class="py-2 flex justify-between"><span>اختبار أغسطس</span> <span class="font-bold text-white">92 / 100</span></li>
                        <li class="py-2 flex justify-between"><span>اختبار يوليو</span> <span class="font-bold text-white">88 / 100</span></li>
                    </ul> 
                </div> {% endcomment %}
            </div>
            
        </main>

      

{% endblock %}
