
{% extends 's_base.html'%}
{% load static %}
{% block content %}

            <main class="flex-1 p-6 md:p-10 mt-14 md:mt-0">
                <header class="mb-10">
                    <h1 class="text-3xl md:text-4xl font-black text-white">مرحباً بكِ، مشرفة 
                        <span class="text-1xl md:text-4xl font-black text-green-300">{{ user }}</span>
                     </h1>
                    <p class="text-slate-400 mt-2">نظرة شاملة على أداء الحلقات اليوم. {{today_date}}</p>
                </header>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                    <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
                        <h3 class="text-lg font-bold text-blue-400">إجمالي الحلقات</h3>
                        <p class="text-5xl font-extrabold text-white mt-4">{{total_halaqats}}</p>
                    </div>
                    <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
                        <h3 class="text-lg font-bold text-blue-400">إجمالي التلاميذ</h3>
                        <p class="text-5xl font-extrabold text-white mt-4">{{total_students}}</p>
                    </div>
                    <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
                        <h3 class="text-lg font-bold text-blue-400">حضور المعلمات اليوم</h3>
                        <p class="text-5xl font-extrabold text-white mt-4">4 <span class="text-2xl text-slate-400">/
                                5</span></p>
                    </div>
                    <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
                        <h3 class="text-lg font-bold text-blue-400">متوسط الحضور</h3>
                        <p class="text-5xl font-extrabold text-white mt-4">95%</p>
                    </div>
                </div>

                <div class="mt-12 bg-slate-800 rounded-xl border border-slate-700 overflow-x-auto">
                    <div class="p-6 flex justify-between items-center">
                        <h2 class="text-2xl font-bold text-white">نظرة سريعة على الحلقات</h2>
                        {% comment %} <a href="#" class="text-sm text-blue-400 hover:underline">عرض الكل</a> {% endcomment %}
                    </div>
                    <table class="w-full text-right">
                        <thead class="border-b border-slate-700">
                            <tr>
                                <th class="p-4 text-blue-400 font-semibold">اسم الحلقة</th>
                                <th class="p-4 text-blue-400 font-semibold">المعلمة</th>
                                <th class="p-4 text-blue-400 font-semibold">عدد التلاميذ</th>
                                <th class="p-4 text-blue-400 font-semibold">حالة الخطة</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for halaqa in halaqats %}
                            <tr class="border-b border-slate-700 hover:bg-slate-700/60">
                                <td class="p-4 text-white">حلقة {{ halaqa.name }}</td>
                                <td class="p-4">{{ halaqa.res_teacher }}</td>
                                <td class="p-4">{{halaqa.total_students}}/{{halaqa.total_absent_students}}</td>
                                <td class="p-4">
                                    {% if halaqa.plan_status == 'on_track'%}
                                         <span
                                        class="px-3 py-1 text-sm rounded-full bg-green-800 text-green-300">متوافق</span> 
                                    {% elif halaqa.plan_status == 'delayed' %}
                                        <span
                                        class="px-3 py-1 text-sm rounded-full bg-yellow-800 text-yellow-300">متأخر</span>
                                    {% elif halaqa.plan_status == 'advanced' %}
                                        <span
                                        class="px-3 py-1 text-sm rounded-full bg-blue-800 text-blue-300">متقدم</span>
                                    {% else %}
                                        <span
                                        class="px-3 py-1 text-sm rounded-full bg-white-800 text-blue-300">فارغ</span>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                            {% comment %} <tr class="border-b border-slate-700 hover:bg-slate-700/60">
                                <td class="p-4 text-white">حلقة الزهور</td>
                                <td class="p-4 text-yellow-400">عائشة (غائبة)</td>
                                <td class="p-4">16</td>
                                <td class="p-4"><span
                                        class="px-3 py-1 text-sm rounded-full bg-yellow-800 text-yellow-300">متأخر</span>
                                </td>
                            </tr>
                            <tr class="hover:bg-slate-700/60">
                                <td class="p-4 text-white">حلقة الأترجة</td>
                                <td class="p-4">خديجة أحمد</td>
                                <td class="p-4">14</td>
                                <td class="p-4"><span
                                        class="px-3 py-1 text-sm rounded-full bg-blue-800 text-blue-300">متقدم</span>
                                </td>
                            </tr> {% endcomment %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>

{% endblock %}
